{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="https://webstockreview.net/images/clipart-airplane-message-16.png">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>
    <title>Exam Holidays</title>
</head>

<body>
<!--navigation bar-->
<header>
    <nav>
        <ul>
            {#                    <li class="img"><img src="{% static '/images/book.png' %}" /></li>#}
            <li><a href="/">Exam Holidays</a></li>
            {% if request.user.is_authenticated %}
                <li class="right"><a href="{% url 'profile details' pk=request.user.id %}">Welcome {{ request.user.profile }}</a></li>
                <li><a href="{% url 'logout user' %}">Log Out</a></li>
            {% else %}
                <li class="right"><a href="{% url 'login user' %}">Enter</a><a href="{% url 'register' %}">Create
                    Profile</a></li>
            {% endif %}

        </ul>
    </nav>
</header>
<!--end navigation bar-->

<div class="body">

    {% block page_content %}
    {% endblock %}


</div>

<footer>
    <div>krasy_str webframework project</div>
</footer>

</body>
</html>