{% extends 'base/base.html' %}
{% block page_content %}
    <h1 class="text-center">Resorts We Recommend</h1>
    {% if not resorts %}
        <h2>There are no resorts at the moment</h2>
        <div class="right">
            <a class="button details" href="{% url 'add resort' %}">Add Resort</a>
        </div>
    {% else %}
        {% for resort in resorts %}
            <div class="note-container">
                <h2>{{ resort.name }} <img src="{{ resort.image }}"/></h2>
                <div>
                    <p>Description: {{ resort.description|truncatechars:50 }}</p>
                    <p>Price per Night: {{ resort.price|floatformat:2 }} Euro</p>
                </div>
                <div class="right">
                    <a class="button details" href="{% url 'view resort' resort.pk %}">Details</a>
                    <a class="button edit" href="{% url 'edit resort' resort.pk %}">Edit</a>
                    <a class="button delete" href="{% url 'remove resort' resort.pk %}">Delete</a>
                </div>
            </div>

        {% endfor %}
    {% endif %}
<br>
{% if resorts %}
    <div class="pagination">
        {% if resorts.has_previous %}
            <a class="page-link" href="?page=1">&laquo</a>
            <a class="page-link" href="?page={{ resorts.previous_page_number }}">Previous</a>
        {% endif %}
        <a class="page-link" href="">Page {{ resorts.number }} of {{ resorts.paginator.num_pages }}</a>
        {% if resorts.has_next %}
            <a class="page-link" href="?page={{ resorts.next_page_number }}">Next</a>
            <a class="page-link" href="?page={{ resorts.paginator.num_pages }}">&raquo</a>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}